html
    head
        title= title

    body
        h1= message
        form#registerForm
            p
            label Titre du projet :
            input#projectName(type="text", required="true")
            p
            label Description du projet :
            textarea#projectDescription
            p
            label Prenom de l'organiseur :
            input#organiserFirstname(type="text")
            p
            label Nom de l'organisateur :
            input#organiserLastname(type="text")
            p
            label Email de l'organisateur :
            input#organiserEmail(type="email")
            p
            button#addAttendee(type='button') Ajouter un participant (5 max)
            p
            button#submitButton(type='button') Valider
        script(src='js/form.js')
